[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[packages]
icecream = "*"
jsonpickle = "*"
jsonref = "*"
jsonschema = "*"
pydantic = "*"
pyyaml = "*"
simplejson = "*"
Werkzeug = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"
gunicorn = "*"
pylint = "*"
pylint-quotes = "*"
pytest = "*"
pytest-html = "*"
pytest-cov = "*"

[scripts]
test = "python -m unittest discover"
serve = "python -m chilo"
gunicorn = "gunicorn --workers=1 chilo.run:serve"
